html, body{
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p{
	margin-bottom: 5px;
}


.section {
	height: 100%;
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.Home{
	
}

.Tour{
	
}

.LeaderBoard{
	
}

.Handicaps{
	
}

.MatchPlay{
	
}

.ContactUs{
	
}